@inherits OwningComponentBase

@inject SocialGuardHttpClientFactory ClientFactory

@if (Loaded)
{
    <div>
        @if (Emitter is null)
        {
            <h3 class="text-warning">No Emitter found.</h3>
        }
        else
        {
            <h3 class="my-5">Emitter :<span class="ms-3">@Emitter.DisplayName</span></h3>

            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>SG Directory</th>

                        <td>
                            <a target="_blank" href=@_client!.HostUri.ToString()>
                                @_client!.HostUri.DnsSafeHost
                            </a>
                        </td>
                    </tr>

                    <tr><th>ID / Login</th><td>@Emitter.Login</td></tr>

                    <tr>
                        <th>Snowflake</th>

                        <td>
                            @if (Emitter.EmitterType is EmitterType.User)
                            {
                                <a href="/user/@Emitter.Snowflake">@Emitter.Snowflake</a>
                            }
                            else
                            {
                                @Emitter.Snowflake
                            }
                        </td>
                    </tr>

                    <tr><th>Type</th><td>@Emitter.EmitterType.GetEmitterTypeDisplayName()</td></tr>
                </tbody>
            </table>
        }
    </div>
}
else
{
    @LoadingSpinner
}

@code {
    [Parameter] public Uri HostUri { get; set; } = new Uri("https://api.socialguard.net");
    [Parameter] public string EmitterName { get; set; } = string.Empty;

    public Emitter? Emitter { get; set; }
    
    public bool Loaded { get; set; } = false;

    private SocialGuardHttpClient? _client;

    protected override async Task OnParametersSetAsync()
    {
        _client = await ClientFactory.CreateClientAsync(HostUri);

        Emitter = await _client.GetEmitterAsync(EmitterName);
        await base.OnParametersSetAsync();
        Loaded = true;
    }
}
